/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background-color: #6D7993;
}

.navbar{
	padding: 15px 64px;
}

.pic{
max-width: 90%;
height: auto;
}

.pic2{
	max-width: 50%;
    height: auto;
}

p{
	color: #D5D5D5;
}
.para{
	padding-top: 15%;
	padding-bottom: 7%;
	text-align: center;

}
.head{
	color: #4A4A4A;
}

.parag{
		
		padding-top: 20px;
		color: black;
}

.middle{
	margin-top: 77px;
	margin-bottom: 77px;
}

.upper{
	font-style: italic;
}

h2{
	color: white;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
    .jumbotron{
    	padding: 2.5rem 2rem;
    	/*background-color: #9099A2;*/

        }    
      }



footer{
	padding: 3rem 3rem;


}


#footer{
	background-color: #D5D5D5;
	padding:70px 30px 50px 30px; 
	text-align: center;
}
.last-icons{
	padding-left: 35px;
}
a{
	color:black;
}

.copy-right{
	padding-top: 25px;
	opacity: 60%;
	color: black;
}

/*.foot{
	background-color: #D5D5D5;
}*/